.button {
  background-color: rgba(110, 94, 38,0);
  color: var(--highlight-color);
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--highlight-color);
   cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  margin: 0 10px;
  display: inline-block;
  text-align: center;
}

.whiteButton{
  background-color: rgba(110, 94, 38,0);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #fff;
   cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-right: 20px;
  display: inline-block;
  text-align: center;
}

.button:hover {
  background-color: rgb(136, 111, 37);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  border: 2px solid var(--highlight-color);

}

.whiteButton:hover{
  background-color:#fff;
  color: #000;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  border: 2px solid #fff
}
