.homeImage {
  width: 100%;
  left: 0;
  height: 800px;
  object-fit: cover;
}

.imageContainer {
  position: relative;
  max-width: 100%;
  min-width: 800px;
}

.imageContent {
  position: absolute;
  top: 100px;
  color: white;
  text-align: left;
  width: 100%;
  padding: 0 2rem;
  z-index: 2;
  left: 0;
}

.imageButtons {
  position: absolute;
  bottom: 50px;
  color: white;
  text-align: left;
  width: 100%;
  padding: 0 2rem;
  z-index: 2;
  left: 0;
}

.designerTable {
  position: relative;
  display: flex;
  padding: 100px 10rem;
 
}
.designerTable::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  z-index: -2;
  background-image: url("/images/bgdesigner.jpg");
  background-size: cover;
  filter: blur(30px);
 

}
.designerTable::before {
  background-image: radial-gradient(#bda521 20%, transparent 20%), radial-gradient(#c9c29b 20%, transparent 20%);
  background-position: 0 18px, 18px 0px;

  background-size: 50px 50px;
  height: 300px;
  width: 300px;
  content: '';
  position: absolute;
  top: 33px;
  left: 93px;
  z-index: -1;
}

.designerTableImage {
   width: 50%;
  display: flex;
}

.designerTableContent {
  width: 41.666666667%;
}

.designerImage {
  width: 100%;
  max-width: 450px;
  max-height: auto;
}
 

.container {
  padding: 0 15rem;
}
