.footer {
  padding: 0 15rem;
  border-top: 8px solid var(--highlight-color);
  background-color: #d2dbd0;
  color: black;
  display: flex;
  min-height: 220px;
}

.info {
  justify-content: center;

  display: flex;
  width: 100%;
  flex: 1;
}

.info h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.info p {
  margin-bottom: 30px;
  max-width: 70%;
}

.contact {
  display: flex;
  width: 100%;
  justify-content: center;

  flex: 1;
}

.contact p {
  margin: 0;
}

.topAndBottomMargin {
  margin-top: 20px;
}

.contactInfo {
  margin-top: 20px;
}

.socials {
  display: flex;
  width: 100%;
  flex: 1;
  justify-content: center;
}
.socialsInfo {
  margin-top: 20px;
  display: flex;
}
.socialsInfo p {
  font-size: 50px;
  margin: 0 10px;
  color: black;
  transition: all 0.2s ease;
}

.socialsInfo p:hover {
  color: var(--highlight-color);
}

@media (pointer: coarse) {
  .footer {
    padding: 0 2rem;
    display: grid;
    min-height: 220px;
    text-align: center;
    justify-content: center;
  }

  .socials {
    padding-bottom: 20px;
  }

  .info h3 {
    font-size: 1.5rem;
    margin: 0 auto;
  }

  .info p {
    margin: 10px auto;
    max-width: 70%;
  }
}
