.homeImage {
  width: 100%;
  left: 0;
  height: 600px;
  object-fit: cover;
}

.imageContainer {
  position: relative;
  max-width: 100%;
  min-width: 800px;
}

.imageContent {
  position: absolute;
  bottom: 120px;
  color: #fff;
  text-align: left;
  width: 100%;
  padding: 0 2rem;
  z-index: 2;
  left: 0;
}

.imageButtons {
  position: absolute;
  bottom: 50px;
  color: white;
  text-align: left;
  width: 100%;
  padding: 0 2rem;
  z-index: 2;
  left: 0;
}

.designerTable {
  position: relative;
  display: flex;
  padding: 100px 5rem;
}
.designerTable::after {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  z-index: -2;
  background-image: url('/images/bgdesigner.jpg');
  background-size: cover;
  filter: blur(30px);
}
/* .designerTable::before {
  background-image: radial-gradient(var(--secondary-text-color) 20%, transparent 25%), radial-gradient(var(--highlight-color) 20%, transparent 25%);
  background-position: 0 17px, 17px 0px;

  background-size: 15px 15px;
  height: 350px;
  width: 300px;
  content: '';
  position: absolute;
  top: 56px;
  left: 99px;
  z-index: -1;
} */

.designerTableImage {
  width: 50%;
  display: block;
  justify-content: right;
  margin-right: 25px;
  text-align: right;
}

.designerTableContent {
  width: 50%;
}

.designerHeader {
  font-size: 1rem;
  color: var(--highlight-color);
  text-transform: uppercase;
}

.line {
  width: 50px;
  height: 3px;
  background-color: var(--highlight-color);
  margin: 4px 0;
  margin-right: 15px;
  display: inline-block;
}

.designerImage {
  width: 100%;
  max-width: 450px;
  max-height: auto;
}

.header {
  max-width: 500px;
  text-shadow: -1px 4px 10px rgba(0, 0, 0, 0.81);
}

.imageContent > h1 {
  font-size: 50px;
  margin-bottom: 0;
}
.imageContent > h4 {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 10px;
}

.usluge {
  display: flex;
  flex-direction: row;
}

.uslugeHeader {
  color: var(--secondary-text-color);
  text-transform: uppercase;
  margin-top: 2rem;
}

.clientsHeader {
  color: var(--secondary-text-color);
  text-transform: uppercase;
  margin-top: 2rem;
}

.testimonialsContainer {
  position: relative;
  display: flex;
  padding: 20px 0;
}

.container {
  padding: 0 15rem;
}

.timesNewRomanFont {
  font-family: 'Libre Baskerville', serif;
}

@media (pointer: coarse) {
  .container {
    padding: 0 2rem;
  }

  .imageContent {
    bottom: 150px;
  }

  .imageContent > h1 {
    font-size: 40px;
    margin-bottom: 0;
  }
  .imageContent > h4 {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .header {
    max-width: 50%;
  }

  .imageButtons {
    max-width: 300px;
    bottom: 20px;
  }
  .imageButtons a {
    margin-bottom: 10px;
  }

  .usluge {
    display: grid;
    text-align: center;
    justify-content: center;
  }

  .usluge h2 {
    font-size: 20px;
  }

  .designerTable {
    padding: 100px 2rem;
    display: grid;
  }
  .designerTableImage {
    width: 100%;
  }
  .designerTableContent {
    width: 100%;
  }

  .testimonialsContainer {
    display: grid;
    padding: 20;
  }
}
