.container {
  padding: 0 15rem;
  position: relative;
}
.contentContainer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: -0%;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-image: url(/images/bgdesigner.jpg);
  background-size: cover;
  filter: blur(30px);
}

.line {
  width: 50px;
  height: 3px;
  background-color: var(--highlight-color);
  margin: 3px 0;
  margin-right: 15px;
  display: inline-block;
}

.designerHeader {
  padding-top: 40px;
  font-size: 1rem;
  color: var(--highlight-color);
  text-transform: uppercase;
}

.contentProjectContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.projectInfo {
  margin-left: 25px;
  padding-right: 30px;
  background-color: var(--highlight-color);
  width: 65%;
}

.projectTitle {
  font-size: 2rem;
  padding-left: 20px;
  color: var(--main-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.projectDescription {
  font-size: 1rem;
  padding-left: 20px;
  padding-bottom: 20px;
  color: var(--main-color);
  margin-bottom: 10px;
}

.projectDate {
  font-size: 1rem;
  padding-left: 20px;
  color: var(--main-color);
  margin-bottom: 10px;
}

@media (pointer: coarse) {
  .contentProjectContainer {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .projectInfo {
    margin-left: 0;
    margin-bottom: 25px;
    width: 100%;
  }

  .container {
    padding: 0 2rem;
  }

  .uslugeHeaderConteiner {
    display: block;
  }

  .uslugeHeaderParagraph {
    padding: 0;
  }

  .uslugeHeaderRight {
    margin-top: 0;
  }
  .uslugeHeaderText {
    border-right: none;
  }
}
