.uslugeHeaderConteiner {
  display: flex;
  align-items: center;
}
.designerHeader {
  padding-top: 40px;
  font-size: 1rem;
  color: var(--highlight-color);
  text-transform: uppercase;
}

.line {
  width: 50px;
  height: 3px;
  background-color: var(--highlight-color);
  margin: 3px 0;
  margin-right: 15px;
  display: inline-block;
}

.uslugeHeaderRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.uslugeHeaderText {
  color: var(--secondary-text-color);
  text-transform: uppercase;
  padding-right: 1rem;
  border-right: 1px solid var(--highlight-color);
}

.uslugeHeaderParagraph {
  color: var(--secondary-text-color);
  margin-top: 1rem;
  padding-left: 1rem;
}

.uslugeCardsContainer {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}

.uslugeCardsContainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  z-index: -2;
  background-image: url('/images/bgdesigner.jpg');
  background-size: cover;
  filter: blur(30px);
}

.container {
  padding: 0 15rem;
}
.contentContainer {
  padding-top: 60px;
}

@media (pointer: coarse) {
  .container {
    padding: 0 1rem;
  }
}
