.overlayForVideo {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.overlayForVideo video {
  position: absolute;
  left: 50%; /* % of surrounding element */
  top: 50%;
  transform: translate(-50%, -50%); /* % of current element */
}

.videoContent {
  position: absolute;
  left: 50%; /* % of surrounding element */
  top: 50%;
  transform: translate(-50%, -50%); /* % of current element */
  z-index: 2;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 5px;
}
